<!DOCTYPE html>
<html ng-app="hackday">
<head>
  <title>web-audio-hack-day</title>
</head>
<body ng-controller="MainCtrl">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="BeatDetector.js"></script>
  <script src="Encoder.js"></script>
  <script src="Sample.js"></script>
  <script src="MainCtrl.js"></script>

  <button ng-click="toggleRecord()">Toggle Record</button> <span ng-show="isRecording">Recording...</span>
  <button ng-click="playBeats()">Play beats</button>
  <button ng-click="uploadPeaks()">Upload peaks</button>
  <br>
  <br>
  <canvas id="waveform" width="800" heigth="50" style="width: 800px; height: 50px;"></canvas>
</body>
</html>
